<app-header />
<div class="container">
    <div class="categories">
        <div class="category">
            <div class="heading">
                <h1>01. Music & Concert</h1>
            </div>
            <div class="body">
                <div class="box">
                    <img src="https://media-hosting.imagekit.io/d564c6edd1df4302/Ways%20to%20prevent%20sounds%20of%20summer%20from%20affecting%20your%20hearing%20-%20WTOP%20News.jpeg?Expires=1840862500&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=r~-4ykhpZHv9vL7V9Jcy7LTBuKi4cA~n69Ri6ky2clTvR8c2bNTMHFr9mWpvbwXrfBgOF-6KRgZVLyNKwttGVmR6pFeD-fkZYkMa-JPdsuMZKuGfec8oEiUJlmWIphZqzJishZHSNTUAjaFkzHqW-EI-YOPuTRGy5aFRTDFRf5YhmkzQ9zrJ3Bvsll-dGCM6v4KwH4HvKD6EZN38vNBybp~iD35wIFhfIs~PUQ2kwBQeNprZFlpzLFIWopdP4OzM0z8jJSGRUwx3ufn9woIUvCSsf2M8ZQVeuuEwqJQOaqUj-cp7~E-5PCo7~8h75WDw5-4eWFbel03DzipZB~IuEg__"
                        alt="">
                    <h2>Event - 1</h2>
                </div>
                <div class="box">
                    <img src="https://media-hosting.imagekit.io/d564c6edd1df4302/Ways%20to%20prevent%20sounds%20of%20summer%20from%20affecting%20your%20hearing%20-%20WTOP%20News.jpeg?Expires=1840862500&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=r~-4ykhpZHv9vL7V9Jcy7LTBuKi4cA~n69Ri6ky2clTvR8c2bNTMHFr9mWpvbwXrfBgOF-6KRgZVLyNKwttGVmR6pFeD-fkZYkMa-JPdsuMZKuGfec8oEiUJlmWIphZqzJishZHSNTUAjaFkzHqW-EI-YOPuTRGy5aFRTDFRf5YhmkzQ9zrJ3Bvsll-dGCM6v4KwH4HvKD6EZN38vNBybp~iD35wIFhfIs~PUQ2kwBQeNprZFlpzLFIWopdP4OzM0z8jJSGRUwx3ufn9woIUvCSsf2M8ZQVeuuEwqJQOaqUj-cp7~E-5PCo7~8h75WDw5-4eWFbel03DzipZB~IuEg__"
                        alt="">
                    <h2>Event - 2</h2>
                </div>
                <div class="box">
                    <img src="https://media-hosting.imagekit.io/d564c6edd1df4302/Ways%20to%20prevent%20sounds%20of%20summer%20from%20affecting%20your%20hearing%20-%20WTOP%20News.jpeg?Expires=1840862500&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=r~-4ykhpZHv9vL7V9Jcy7LTBuKi4cA~n69Ri6ky2clTvR8c2bNTMHFr9mWpvbwXrfBgOF-6KRgZVLyNKwttGVmR6pFeD-fkZYkMa-JPdsuMZKuGfec8oEiUJlmWIphZqzJishZHSNTUAjaFkzHqW-EI-YOPuTRGy5aFRTDFRf5YhmkzQ9zrJ3Bvsll-dGCM6v4KwH4HvKD6EZN38vNBybp~iD35wIFhfIs~PUQ2kwBQeNprZFlpzLFIWopdP4OzM0z8jJSGRUwx3ufn9woIUvCSsf2M8ZQVeuuEwqJQOaqUj-cp7~E-5PCo7~8h75WDw5-4eWFbel03DzipZB~IuEg__"
                        alt="">
                    <h2>Event - 3</h2>
                </div>
                <div class="box">
                    <img src="https://media-hosting.imagekit.io/d564c6edd1df4302/Ways%20to%20prevent%20sounds%20of%20summer%20from%20affecting%20your%20hearing%20-%20WTOP%20News.jpeg?Expires=1840862500&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=r~-4ykhpZHv9vL7V9Jcy7LTBuKi4cA~n69Ri6ky2clTvR8c2bNTMHFr9mWpvbwXrfBgOF-6KRgZVLyNKwttGVmR6pFeD-fkZYkMa-JPdsuMZKuGfec8oEiUJlmWIphZqzJishZHSNTUAjaFkzHqW-EI-YOPuTRGy5aFRTDFRf5YhmkzQ9zrJ3Bvsll-dGCM6v4KwH4HvKD6EZN38vNBybp~iD35wIFhfIs~PUQ2kwBQeNprZFlpzLFIWopdP4OzM0z8jJSGRUwx3ufn9woIUvCSsf2M8ZQVeuuEwqJQOaqUj-cp7~E-5PCo7~8h75WDw5-4eWFbel03DzipZB~IuEg__"
                        alt="">
                    <h2>Event - 4</h2>
                </div>
                <div class="box">
                    <img src="https://media-hosting.imagekit.io/d564c6edd1df4302/Ways%20to%20prevent%20sounds%20of%20summer%20from%20affecting%20your%20hearing%20-%20WTOP%20News.jpeg?Expires=1840862500&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=r~-4ykhpZHv9vL7V9Jcy7LTBuKi4cA~n69Ri6ky2clTvR8c2bNTMHFr9mWpvbwXrfBgOF-6KRgZVLyNKwttGVmR6pFeD-fkZYkMa-JPdsuMZKuGfec8oEiUJlmWIphZqzJishZHSNTUAjaFkzHqW-EI-YOPuTRGy5aFRTDFRf5YhmkzQ9zrJ3Bvsll-dGCM6v4KwH4HvKD6EZN38vNBybp~iD35wIFhfIs~PUQ2kwBQeNprZFlpzLFIWopdP4OzM0z8jJSGRUwx3ufn9woIUvCSsf2M8ZQVeuuEwqJQOaqUj-cp7~E-5PCo7~8h75WDw5-4eWFbel03DzipZB~IuEg__"
                        alt="">
                    <h2>Event - 5</h2>
                </div>
                <div class="box">
                    <img src="https://media-hosting.imagekit.io/d564c6edd1df4302/Ways%20to%20prevent%20sounds%20of%20summer%20from%20affecting%20your%20hearing%20-%20WTOP%20News.jpeg?Expires=1840862500&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=r~-4ykhpZHv9vL7V9Jcy7LTBuKi4cA~n69Ri6ky2clTvR8c2bNTMHFr9mWpvbwXrfBgOF-6KRgZVLyNKwttGVmR6pFeD-fkZYkMa-JPdsuMZKuGfec8oEiUJlmWIphZqzJishZHSNTUAjaFkzHqW-EI-YOPuTRGy5aFRTDFRf5YhmkzQ9zrJ3Bvsll-dGCM6v4KwH4HvKD6EZN38vNBybp~iD35wIFhfIs~PUQ2kwBQeNprZFlpzLFIWopdP4OzM0z8jJSGRUwx3ufn9woIUvCSsf2M8ZQVeuuEwqJQOaqUj-cp7~E-5PCo7~8h75WDw5-4eWFbel03DzipZB~IuEg__"
                        alt="">
                    <h2>Event - 6</h2>
                </div>
                <div class="box">
                    <img src="https://media-hosting.imagekit.io/d564c6edd1df4302/Ways%20to%20prevent%20sounds%20of%20summer%20from%20affecting%20your%20hearing%20-%20WTOP%20News.jpeg?Expires=1840862500&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=r~-4ykhpZHv9vL7V9Jcy7LTBuKi4cA~n69Ri6ky2clTvR8c2bNTMHFr9mWpvbwXrfBgOF-6KRgZVLyNKwttGVmR6pFeD-fkZYkMa-JPdsuMZKuGfec8oEiUJlmWIphZqzJishZHSNTUAjaFkzHqW-EI-YOPuTRGy5aFRTDFRf5YhmkzQ9zrJ3Bvsll-dGCM6v4KwH4HvKD6EZN38vNBybp~iD35wIFhfIs~PUQ2kwBQeNprZFlpzLFIWopdP4OzM0z8jJSGRUwx3ufn9woIUvCSsf2M8ZQVeuuEwqJQOaqUj-cp7~E-5PCo7~8h75WDw5-4eWFbel03DzipZB~IuEg__"
                        alt="">
                    <h2>Event - 7</h2>
                </div>
                <div class="box">
                    <img src="https://media-hosting.imagekit.io/d564c6edd1df4302/Ways%20to%20prevent%20sounds%20of%20summer%20from%20affecting%20your%20hearing%20-%20WTOP%20News.jpeg?Expires=1840862500&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=r~-4ykhpZHv9vL7V9Jcy7LTBuKi4cA~n69Ri6ky2clTvR8c2bNTMHFr9mWpvbwXrfBgOF-6KRgZVLyNKwttGVmR6pFeD-fkZYkMa-JPdsuMZKuGfec8oEiUJlmWIphZqzJishZHSNTUAjaFkzHqW-EI-YOPuTRGy5aFRTDFRf5YhmkzQ9zrJ3Bvsll-dGCM6v4KwH4HvKD6EZN38vNBybp~iD35wIFhfIs~PUQ2kwBQeNprZFlpzLFIWopdP4OzM0z8jJSGRUwx3ufn9woIUvCSsf2M8ZQVeuuEwqJQOaqUj-cp7~E-5PCo7~8h75WDw5-4eWFbel03DzipZB~IuEg__"
                        alt="">
                    <h2>Event - 8</h2>
                </div>
            </div>
        </div>
        <div class="category">
            <div class="heading">
                <h1>02. Sports</h1>
            </div>
            <div class="body">
                <div class="box">
                    <img src="https://media-hosting.imagekit.io/1054a81bfb2a4a0c/Amazing%20photos%20of%20India's%20win%20at%20Cricket%20World%20Cup.jpeg?Expires=1840862249&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=Ok-b0hz1WsAQ72URZbrxNLXDrqk-R1UplSISc5aRWFYYaBt17tyND1LJNlRJcluisS-9jNrMcmQq3WK1wgH6mIYezOPoZn4p9H9rP52IRyC4inTgwyJTBW2c1GfA24shxoWMDi1VImHNQKJOPpchUxC1PtuLxICPHvQpng6767XHTrGcoYNfkRRNKefRj0Ziy2ww7AyNTUoVLnH5hlGGUGlMg~PgyiYgbo9xEhOd2jyapoC7-1tu7jwzEO8XZWW0GdCD7zs0yUos92UyHrnmNN9oKwlWNpfvRc777N4AavY0VxPPy1gjzxN1PZcK9Sueg9HBXx~LdeRksIgACEJKIg__"
                        alt="">
                    <h2>Event - 1</h2>
                </div>
                <div class="box">
                    <img src="https://media-hosting.imagekit.io/1054a81bfb2a4a0c/Amazing%20photos%20of%20India's%20win%20at%20Cricket%20World%20Cup.jpeg?Expires=1840862249&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=Ok-b0hz1WsAQ72URZbrxNLXDrqk-R1UplSISc5aRWFYYaBt17tyND1LJNlRJcluisS-9jNrMcmQq3WK1wgH6mIYezOPoZn4p9H9rP52IRyC4inTgwyJTBW2c1GfA24shxoWMDi1VImHNQKJOPpchUxC1PtuLxICPHvQpng6767XHTrGcoYNfkRRNKefRj0Ziy2ww7AyNTUoVLnH5hlGGUGlMg~PgyiYgbo9xEhOd2jyapoC7-1tu7jwzEO8XZWW0GdCD7zs0yUos92UyHrnmNN9oKwlWNpfvRc777N4AavY0VxPPy1gjzxN1PZcK9Sueg9HBXx~LdeRksIgACEJKIg__"
                        alt="">
                    <h2>Event - 2</h2>
                </div>
                <div class="box">
                    <img src="https://media-hosting.imagekit.io/1054a81bfb2a4a0c/Amazing%20photos%20of%20India's%20win%20at%20Cricket%20World%20Cup.jpeg?Expires=1840862249&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=Ok-b0hz1WsAQ72URZbrxNLXDrqk-R1UplSISc5aRWFYYaBt17tyND1LJNlRJcluisS-9jNrMcmQq3WK1wgH6mIYezOPoZn4p9H9rP52IRyC4inTgwyJTBW2c1GfA24shxoWMDi1VImHNQKJOPpchUxC1PtuLxICPHvQpng6767XHTrGcoYNfkRRNKefRj0Ziy2ww7AyNTUoVLnH5hlGGUGlMg~PgyiYgbo9xEhOd2jyapoC7-1tu7jwzEO8XZWW0GdCD7zs0yUos92UyHrnmNN9oKwlWNpfvRc777N4AavY0VxPPy1gjzxN1PZcK9Sueg9HBXx~LdeRksIgACEJKIg__"
                        alt="">
                    <h2>Event - 3</h2>
                </div>
                <div class="box">
                    <img src="https://media-hosting.imagekit.io/1054a81bfb2a4a0c/Amazing%20photos%20of%20India's%20win%20at%20Cricket%20World%20Cup.jpeg?Expires=1840862249&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=Ok-b0hz1WsAQ72URZbrxNLXDrqk-R1UplSISc5aRWFYYaBt17tyND1LJNlRJcluisS-9jNrMcmQq3WK1wgH6mIYezOPoZn4p9H9rP52IRyC4inTgwyJTBW2c1GfA24shxoWMDi1VImHNQKJOPpchUxC1PtuLxICPHvQpng6767XHTrGcoYNfkRRNKefRj0Ziy2ww7AyNTUoVLnH5hlGGUGlMg~PgyiYgbo9xEhOd2jyapoC7-1tu7jwzEO8XZWW0GdCD7zs0yUos92UyHrnmNN9oKwlWNpfvRc777N4AavY0VxPPy1gjzxN1PZcK9Sueg9HBXx~LdeRksIgACEJKIg__"
                        alt="">
                    <h2>Event - 4</h2>
                </div>
                <div class="box">
                    <img src="https://media-hosting.imagekit.io/1054a81bfb2a4a0c/Amazing%20photos%20of%20India's%20win%20at%20Cricket%20World%20Cup.jpeg?Expires=1840862249&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=Ok-b0hz1WsAQ72URZbrxNLXDrqk-R1UplSISc5aRWFYYaBt17tyND1LJNlRJcluisS-9jNrMcmQq3WK1wgH6mIYezOPoZn4p9H9rP52IRyC4inTgwyJTBW2c1GfA24shxoWMDi1VImHNQKJOPpchUxC1PtuLxICPHvQpng6767XHTrGcoYNfkRRNKefRj0Ziy2ww7AyNTUoVLnH5hlGGUGlMg~PgyiYgbo9xEhOd2jyapoC7-1tu7jwzEO8XZWW0GdCD7zs0yUos92UyHrnmNN9oKwlWNpfvRc777N4AavY0VxPPy1gjzxN1PZcK9Sueg9HBXx~LdeRksIgACEJKIg__"
                        alt="">
                    <h2>Event - 5</h2>
                </div>
                <div class="box">
                    <img src="https://media-hosting.imagekit.io/1054a81bfb2a4a0c/Amazing%20photos%20of%20India's%20win%20at%20Cricket%20World%20Cup.jpeg?Expires=1840862249&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=Ok-b0hz1WsAQ72URZbrxNLXDrqk-R1UplSISc5aRWFYYaBt17tyND1LJNlRJcluisS-9jNrMcmQq3WK1wgH6mIYezOPoZn4p9H9rP52IRyC4inTgwyJTBW2c1GfA24shxoWMDi1VImHNQKJOPpchUxC1PtuLxICPHvQpng6767XHTrGcoYNfkRRNKefRj0Ziy2ww7AyNTUoVLnH5hlGGUGlMg~PgyiYgbo9xEhOd2jyapoC7-1tu7jwzEO8XZWW0GdCD7zs0yUos92UyHrnmNN9oKwlWNpfvRc777N4AavY0VxPPy1gjzxN1PZcK9Sueg9HBXx~LdeRksIgACEJKIg__"
                        alt="">
                    <h2>Event - 6</h2>
                </div>
                <div class="box">
                    <img src="https://media-hosting.imagekit.io/1054a81bfb2a4a0c/Amazing%20photos%20of%20India's%20win%20at%20Cricket%20World%20Cup.jpeg?Expires=1840862249&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=Ok-b0hz1WsAQ72URZbrxNLXDrqk-R1UplSISc5aRWFYYaBt17tyND1LJNlRJcluisS-9jNrMcmQq3WK1wgH6mIYezOPoZn4p9H9rP52IRyC4inTgwyJTBW2c1GfA24shxoWMDi1VImHNQKJOPpchUxC1PtuLxICPHvQpng6767XHTrGcoYNfkRRNKefRj0Ziy2ww7AyNTUoVLnH5hlGGUGlMg~PgyiYgbo9xEhOd2jyapoC7-1tu7jwzEO8XZWW0GdCD7zs0yUos92UyHrnmNN9oKwlWNpfvRc777N4AavY0VxPPy1gjzxN1PZcK9Sueg9HBXx~LdeRksIgACEJKIg__"
                        alt="">
                    <h2>Event - 7</h2>
                </div>
                <div class="box">
                    <img src="https://media-hosting.imagekit.io/1054a81bfb2a4a0c/Amazing%20photos%20of%20India's%20win%20at%20Cricket%20World%20Cup.jpeg?Expires=1840862249&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=Ok-b0hz1WsAQ72URZbrxNLXDrqk-R1UplSISc5aRWFYYaBt17tyND1LJNlRJcluisS-9jNrMcmQq3WK1wgH6mIYezOPoZn4p9H9rP52IRyC4inTgwyJTBW2c1GfA24shxoWMDi1VImHNQKJOPpchUxC1PtuLxICPHvQpng6767XHTrGcoYNfkRRNKefRj0Ziy2ww7AyNTUoVLnH5hlGGUGlMg~PgyiYgbo9xEhOd2jyapoC7-1tu7jwzEO8XZWW0GdCD7zs0yUos92UyHrnmNN9oKwlWNpfvRc777N4AavY0VxPPy1gjzxN1PZcK9Sueg9HBXx~LdeRksIgACEJKIg__"
                        alt="">
                    <h2>Event - 8</h2>
                </div>
            </div>
        </div>
    </div>
</div>