<app-header />
<div class="container">
    <div class="categories">
        <div class="category">
            <div class="heading">
                <h1>01. {{category1name}}</h1>
            </div>
            <div class="body">
                @if(category1.length == 0){
                <div class="box">
                    <h3>No event found with this category.</h3>
                </div>
                }@else {
                @for (item of category1; track $index) {
                <div class="box">
                    <img src={{item.iLnik}} alt="" (click)="onClickEvent(item.id)">
                    <h2>{{item.name}}</h2>
                </div>
                }
                }
            </div>
        </div>
        <div class="category">
            <div class="heading">
                <h1>02. {{category2name}}</h1>
            </div>
            <div class="body">
                @if(category2.length == 0){
                <div class="box">
                    <h3>No event found with this category.</h3>
                </div>
                }@else {
                @for (item of category2; track $index) {
                <div class="box">
                    <img src={{item.iLnik}} alt="" (click)="onClickEvent(item.id)">
                    <h2>{{item.name}}</h2>
                </div>
                }
                }
            </div>
        </div>
        <div class="category">
            <div class="heading">
                <h1>03. {{category3name}}</h1>
            </div>
            <div class="body">
                @if(category3.length == 0){
                <div class="box">
                    <h3>No event found with this category.</h3>
                </div>
                }@else {
                @for (item of category3; track $index) {
                <div class="box">
                    <img src={{item.iLnik}} alt="" (click)="onClickEvent(item.id)">
                    <h2>{{item.name}}</h2>
                </div>
                }
                }
            </div>
        </div>
        <div class="category">
            <div class="heading">
                <h1>04. {{category4name}}</h1>
            </div>
            <div class="body">
                @if(category4.length == 0){
                <div class="box">
                    <h3>No event found with this category.</h3>
                </div>
                }@else {
                @for (item of category4; track $index) {
                <div class="box">
                    <img src={{item.iLnik}} alt="" (click)="onClickEvent(item.id)">
                    <h2>{{item.name}}</h2>
                </div>
                }
                }
            </div>
        </div>
        <div class="category">
            <div class="heading">
                <h1>05. {{category5name}}</h1>
            </div>
            <div class="body">
                @if(category5.length == 0){
                <div class="box">
                    <h3>No event found with this category.</h3>
                </div>
                }@else {
                @for (item of category5; track $index) {
                <div class="box">
                    <img src={{item.iLnik}} alt="" (click)="onClickEvent(item.id)">
                    <h2>{{item.name}}</h2>
                </div>
                }
                }
            </div>
        </div>
        <div class="category">
            <div class="heading">
                <h1>06. {{category6name}}</h1>
            </div>
            <div class="body">
                @if(category6.length == 0){
                <div class="box">
                    <h3>No event found with this category.</h3>
                </div>
                }@else {
                @for (item of category6; track $index) {
                <div class="box">
                    <img src={{item.iLnik}} alt="" (click)="onClickEvent(item.id)">
                    <h2>{{item.name}}</h2>
                </div>
                }
                }
            </div>
        </div>
    </div>
</div>