<div class="container">
    <div class="left">
        <h1 routerLink="/">BookTheScene</h1>
    </div>
    <div class="right">
        <p routerLink="/explore">Explore</p>
        <p routerLink="/event-plan">Plan An Event ?</p>
        <p routerLink="/profile">Profile</p>
    </div>
</div>

<div class="container-m">
    <div class="left">
        <h2 routerLink="/">BookTheScene</h2>
    </div>
    <div class="right">
        @if(!openMenu){
        <fa-icon [icon]="icon1" (click)="opneColose()"></fa-icon>
        }@else {
        <fa-icon [icon]="icon2" (click)="opneColose()"></fa-icon>
        }
    </div>
</div>

@if(openMenu){
<div class="menu">
    <p routerLink="/explore">Explore</p>
    <p routerLink="/event-plan">Plan An Event ?</p>
    <p routerLink="/profile">Profile</p>
</div>
}