<div class="container">
    <div class="left">
        <h1>BookTheScene</h1>
    </div>
    <div class="right">
        <div class="left1">
            <a href="">
                <h3>Instagram</h3>
            </a>
            <a href="">
                <h3>WhatsApp</h3>
            </a>
            <a href="">
                <h3>X</h3>
            </a>
        </div>  
        <div class="right1">
            <h3 routerLink="/event-plan">Plan an event ?</h3>
            <h3>Explore</h3>
            <h3>Profile</h3>
        </div>
    </div>
</div>
<div class="copyright">
    <h2>BookTheScene © 2025. All Right Reserved.</h2>
</div>