<div class="container">
    <h1 class="h1">Categories</h1>
    <div class="grid">
        <div class="box">
            <img src="https://media-hosting.imagekit.io/d564c6edd1df4302/Ways%20to%20prevent%20sounds%20of%20summer%20from%20affecting%20your%20hearing%20-%20WTOP%20News.jpeg?Expires=1840862500&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=r~-4ykhpZHv9vL7V9Jcy7LTBuKi4cA~n69Ri6ky2clTvR8c2bNTMHFr9mWpvbwXrfBgOF-6KRgZVLyNKwttGVmR6pFeD-fkZYkMa-JPdsuMZKuGfec8oEiUJlmWIphZqzJishZHSNTUAjaFkzHqW-EI-YOPuTRGy5aFRTDFRf5YhmkzQ9zrJ3Bvsll-dGCM6v4KwH4HvKD6EZN38vNBybp~iD35wIFhfIs~PUQ2kwBQeNprZFlpzLFIWopdP4OzM0z8jJSGRUwx3ufn9woIUvCSsf2M8ZQVeuuEwqJQOaqUj-cp7~E-5PCo7~8h75WDw5-4eWFbel03DzipZB~IuEg__"
                alt="">
            <h1>Music & Concert</h1>
            <p>Explore live performances, concerts, and music festivals.</p>
        </div>
        <div class="box">
            <img src="https://media-hosting.imagekit.io/e90670222cc843a4/40%20Random%20Acts%20of%20Kindness%20for%20Youth.jpeg?Expires=1840862818&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=Zf2FZNtYXjIsVwVhF26S-GTchfOF4aaPf7MshYt5ayk7HKBItbUIupGyqoKGt~L6R0SNHZdFBZVnVxdvqQIDGrKmHWm2NhqSzTTDJccirYdse8F8WYyj2H4r7TaQ0qcanOLtHpEmWmeF-5MIvZHOoaN4LQ6v7aGoDKrvj3tR1uZt-JuP1CU81Yrx8761YwZf3IoUEKELo4Zq1KA2YK7y7V~OXittIQioeIJYnf8BYsQpVMkyfQLsFtKIHDGDQdlLYopAWJjpah1DU4h70k0DsoNNU5khW8VXsqwTyAEA89nivcfxz8BKx5V14M7wBCWNjEE5S2v3yg4ZxVbSeRnHMQ__"
                alt="">
            <h1>Buisness & Networking</h1>
            <p>Attend conferences, business summits, and networking events.</p>
        </div>
        <div class="box">
            <img src="https://media-hosting.imagekit.io/b6ba2d05bb4e474a/Conference%20Speaker%20Photos%20-%20Download%20Free%20High-Quality%20Pictures%20_%20Freepik.jpeg?Expires=1840862310&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=OQCeFrFw9KWRyRAa7qTfKUFwVPKRa5jT341jyn8-yVKInBpQGgPFHO6bNxNi3gjX9ZZJU63p5GTRWWcV08LUeu-KvbhzB~oySbrc6qpHawIr6vsMUavnRRKJMmPs18t74v2h0HZSL61rIbQeEVQmUTy87TT85s-hbs9ci2A5NXtq4dDXLdIFewEpO-~ucM1-S0Kthm~ZQFcE-QTy2H6EAlgsrtK1NzA4KPX-2UP4oL3MHJt6VCkCt0B9lDWTGnLYFxgbjKv5DYXP2TGUQDGBqePSCQNh1wPM4Vv5UZhAScifj8bVdt6f4eMb-0USs-Llg1n0bsH1QSRahecuBPtV9w__"
                alt="">
            <h1>Tech & Innovation</h1>
            <p>Stay updated on tech conferences and innovations.</p>
        </div>
        <div class="box">
            <img src="https://media-hosting.imagekit.io/47ab6266668e4296/Premium%20Photo%20_%20Holi%20indian%20holiday%20young%20people%20in%20the%20crowd%20throw%20colored%20powders%20up%20and%20have%20fun%20faces.jpeg?Expires=1840862370&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=wxHt2FN0TjBA3FAFxcnQexBGJSfxrFp3OvDLI-Rgrmlg7X1MbEdeaLmoOibjBrWLyDB7Y-hN5hE8H4Tn6yKaaaTqakzjAHwVoxsNKCFHTyUcRTXssPs-OCexnq1r6dPwjKxhrfXpqYyJgyLMUHQt3cyg0DTWt2Adp30cG6fmYUJrN3ZA6jsDqv9-WGJxvNZtb7r5ZrwZJshZpABfv3RJkj66FhCSQyD4dYU-3cvnZdN3CqWYC6s0dHTO95J6VHYe2oslQNKnaf0sp7FqWlZhadpDxNLFd8qWv2xhX57sHbsOdUYawtMGxRUcP-bQ2DJMftLd80-2CtqTKfICkbgSSQ__"
                alt="">
            <h1>Festival</h1>
            <p>Celebrate vibrant cultural festivals with music, food, and traditions.</p>
        </div>
        <div class="box">
            <img src="https://media-hosting.imagekit.io/4d8c1358c75146ba/Top%205%20Foods%20to%20Boost%20Mental%20Health.jpeg?Expires=1840862447&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=lESCn1FV5lhZOlCR58DUpqDJvn8vy-MUKOerzrPq1fotQxeiSu~pyD7eBlb6PDD12DUtRcmjoXmaZhSslWihOF4QkrcSSqj55S~KsR72fnbcN2HBCtCBjNbXmMvFcaeqTP-70hwE5BPp1FeqaWQsQIHAafpMWZdQUeO0qxAOn1zduKTKCzbksA7-eXesChjnDsRsjrShaFc8qj9lcr-apDOM-QcnHqwFCaB1mJesdqbJkV8ZFPB~UBsrNKO1gAUcVEUwx1sVVlxsXI-D8BPIYXi8IVrRnF7weKKy3joLUCeyRgwl8CWnyHqfOpiaXs4WGtVpWwp0kc6nRH9USZ6xhA__"
                alt="">
            <h1>Mental Health</h1>
            <p>Participate in thrilling contests and showcase your talent.</p>
        </div>
        <div class="box">
            <img src="https://media-hosting.imagekit.io/1054a81bfb2a4a0c/Amazing%20photos%20of%20India's%20win%20at%20Cricket%20World%20Cup.jpeg?Expires=1840862249&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=Ok-b0hz1WsAQ72URZbrxNLXDrqk-R1UplSISc5aRWFYYaBt17tyND1LJNlRJcluisS-9jNrMcmQq3WK1wgH6mIYezOPoZn4p9H9rP52IRyC4inTgwyJTBW2c1GfA24shxoWMDi1VImHNQKJOPpchUxC1PtuLxICPHvQpng6767XHTrGcoYNfkRRNKefRj0Ziy2ww7AyNTUoVLnH5hlGGUGlMg~PgyiYgbo9xEhOd2jyapoC7-1tu7jwzEO8XZWW0GdCD7zs0yUos92UyHrnmNN9oKwlWNpfvRc777N4AavY0VxPPy1gjzxN1PZcK9Sueg9HBXx~LdeRksIgACEJKIg__"
                alt="">
            <h1>Sports & Fitness</h1>
            <p>Join sports events, marathons, and fitness challenges.</p>
        </div>
    </div>
</div>

<div class="container">
    <h1 class="h1">How it works?</h1>
    <div class="grid-2">
        <div class="box">
            <h1 class="big">📝</h1>
            <h1>Create or Find Events</h1>
            <p>Organize your event or discover amazing ones around you.</p>
        </div>
        <div class="box">
            <h1 class="big">🎟️</h1>
            <h1>Register or Book Tickets</h1>
            <p>Easily register or buy tickets through our secure system.</p>
        </div>
    </div>
    <div class="grid-2">
        <div class="box">
            <h1 class="big">📅</h1>
            <h1>Attend & Enjoy</h1>
            <p>Join the event, meet people, and have a great experience.    </p>
        </div>
    </div>
</div>