<div class="container">
    <h1 class="h1">UpComing Events</h1>
    <div class="events">
        <div class="event">
            <div class="div">
                <img src="https://media-hosting.imagekit.io/1054a81bfb2a4a0c/Amazing%20photos%20of%20India's%20win%20at%20Cricket%20World%20Cup.jpeg?Expires=1840862249&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=Ok-b0hz1WsAQ72URZbrxNLXDrqk-R1UplSISc5aRWFYYaBt17tyND1LJNlRJcluisS-9jNrMcmQq3WK1wgH6mIYezOPoZn4p9H9rP52IRyC4inTgwyJTBW2c1GfA24shxoWMDi1VImHNQKJOPpchUxC1PtuLxICPHvQpng6767XHTrGcoYNfkRRNKefRj0Ziy2ww7AyNTUoVLnH5hlGGUGlMg~PgyiYgbo9xEhOd2jyapoC7-1tu7jwzEO8XZWW0GdCD7zs0yUos92UyHrnmNN9oKwlWNpfvRc777N4AavY0VxPPy1gjzxN1PZcK9Sueg9HBXx~LdeRksIgACEJKIg__"
                    alt="">
                <div class="desc">
                    <h1>Name : Painting Competition</h1>
                    <h3><span><fa-icon [icon]="icon1"></fa-icon></span> : 03-05-2025 | <span><fa-icon
                                [icon]="icon2"></fa-icon></span> : 6:00 PM</h3>
                    <h3><span><fa-icon [icon]="icon3"></fa-icon></span> : Mumbai, India.</h3>
                    <button>Book Ticket Now</button>
                </div>
            </div>
        </div>
        <div class="event">
            <div class="div">
                <img src="https://media-hosting.imagekit.io/b6ba2d05bb4e474a/Conference%20Speaker%20Photos%20-%20Download%20Free%20High-Quality%20Pictures%20_%20Freepik.jpeg?Expires=1840862310&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=OQCeFrFw9KWRyRAa7qTfKUFwVPKRa5jT341jyn8-yVKInBpQGgPFHO6bNxNi3gjX9ZZJU63p5GTRWWcV08LUeu-KvbhzB~oySbrc6qpHawIr6vsMUavnRRKJMmPs18t74v2h0HZSL61rIbQeEVQmUTy87TT85s-hbs9ci2A5NXtq4dDXLdIFewEpO-~ucM1-S0Kthm~ZQFcE-QTy2H6EAlgsrtK1NzA4KPX-2UP4oL3MHJt6VCkCt0B9lDWTGnLYFxgbjKv5DYXP2TGUQDGBqePSCQNh1wPM4Vv5UZhAScifj8bVdt6f4eMb-0USs-Llg1n0bsH1QSRahecuBPtV9w__"
                    alt="">
                <div class="desc">
                    <h1>Name : Painting Competition</h1>
                    <h3><span><fa-icon [icon]="icon1"></fa-icon></span> : 03-05-2025 | <span><fa-icon
                                [icon]="icon2"></fa-icon></span> : 6:00 PM</h3>
                    <h3><span><fa-icon [icon]="icon3"></fa-icon></span> : Mumbai, India.</h3>
                    <button>Book Ticket Now</button>
                </div>
            </div>
        </div>
        <div class="event">
            <div class="div">
                <img src="https://media-hosting.imagekit.io/47ab6266668e4296/Premium%20Photo%20_%20Holi%20indian%20holiday%20young%20people%20in%20the%20crowd%20throw%20colored%20powders%20up%20and%20have%20fun%20faces.jpeg?Expires=1840862370&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=wxHt2FN0TjBA3FAFxcnQexBGJSfxrFp3OvDLI-Rgrmlg7X1MbEdeaLmoOibjBrWLyDB7Y-hN5hE8H4Tn6yKaaaTqakzjAHwVoxsNKCFHTyUcRTXssPs-OCexnq1r6dPwjKxhrfXpqYyJgyLMUHQt3cyg0DTWt2Adp30cG6fmYUJrN3ZA6jsDqv9-WGJxvNZtb7r5ZrwZJshZpABfv3RJkj66FhCSQyD4dYU-3cvnZdN3CqWYC6s0dHTO95J6VHYe2oslQNKnaf0sp7FqWlZhadpDxNLFd8qWv2xhX57sHbsOdUYawtMGxRUcP-bQ2DJMftLd80-2CtqTKfICkbgSSQ__"
                    alt="">
                <div class="desc">
                    <h1>Name : Painting Competition</h1>
                    <h3><span><fa-icon [icon]="icon1"></fa-icon></span> : 03-05-2025 | <span><fa-icon
                                [icon]="icon2"></fa-icon></span> : 6:00 PM</h3>
                    <h3><span><fa-icon [icon]="icon3"></fa-icon></span> : Mumbai, India.</h3>
                    <button>Book Ticket Now</button>
                </div>
            </div>
        </div>
        <div class="event">
            <div class="div">
                <img src="https://media-hosting.imagekit.io/4d8c1358c75146ba/Top%205%20Foods%20to%20Boost%20Mental%20Health.jpeg?Expires=1840862447&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=lESCn1FV5lhZOlCR58DUpqDJvn8vy-MUKOerzrPq1fotQxeiSu~pyD7eBlb6PDD12DUtRcmjoXmaZhSslWihOF4QkrcSSqj55S~KsR72fnbcN2HBCtCBjNbXmMvFcaeqTP-70hwE5BPp1FeqaWQsQIHAafpMWZdQUeO0qxAOn1zduKTKCzbksA7-eXesChjnDsRsjrShaFc8qj9lcr-apDOM-QcnHqwFCaB1mJesdqbJkV8ZFPB~UBsrNKO1gAUcVEUwx1sVVlxsXI-D8BPIYXi8IVrRnF7weKKy3joLUCeyRgwl8CWnyHqfOpiaXs4WGtVpWwp0kc6nRH9USZ6xhA__"
                    alt="">
                <div class="desc">
                    <h1>Name : Painting Competition</h1>
                    <h3><span><fa-icon [icon]="icon1"></fa-icon></span> : 03-05-2025 | <span><fa-icon
                                [icon]="icon2"></fa-icon></span> : 6:00 PM</h3>
                    <h3><span><fa-icon [icon]="icon3"></fa-icon></span> : Mumbai, India.</h3>
                    <button>Book Ticket Now</button>
                </div>
            </div>
        </div>
        <div class="event">
            <div class="div">
                <img src="https://media-hosting.imagekit.io/d564c6edd1df4302/Ways%20to%20prevent%20sounds%20of%20summer%20from%20affecting%20your%20hearing%20-%20WTOP%20News.jpeg?Expires=1840862500&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=r~-4ykhpZHv9vL7V9Jcy7LTBuKi4cA~n69Ri6ky2clTvR8c2bNTMHFr9mWpvbwXrfBgOF-6KRgZVLyNKwttGVmR6pFeD-fkZYkMa-JPdsuMZKuGfec8oEiUJlmWIphZqzJishZHSNTUAjaFkzHqW-EI-YOPuTRGy5aFRTDFRf5YhmkzQ9zrJ3Bvsll-dGCM6v4KwH4HvKD6EZN38vNBybp~iD35wIFhfIs~PUQ2kwBQeNprZFlpzLFIWopdP4OzM0z8jJSGRUwx3ufn9woIUvCSsf2M8ZQVeuuEwqJQOaqUj-cp7~E-5PCo7~8h75WDw5-4eWFbel03DzipZB~IuEg__"
                    alt="">
                <div class="desc">
                    <h1>Name : Painting Competition</h1>
                    <h3><span><fa-icon [icon]="icon1"></fa-icon></span> : 03-05-2025 | <span><fa-icon
                                [icon]="icon2"></fa-icon></span> : 6:00 PM</h3>
                    <h3><span><fa-icon [icon]="icon3"></fa-icon></span> : Mumbai, India.</h3>
                    <button>Book Ticket Now</button>
                </div>
            </div>
        </div>
        <div class="event">
            <div class="div">
                <img src="https://media-hosting.imagekit.io/e90670222cc843a4/40%20Random%20Acts%20of%20Kindness%20for%20Youth.jpeg?Expires=1840862818&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=Zf2FZNtYXjIsVwVhF26S-GTchfOF4aaPf7MshYt5ayk7HKBItbUIupGyqoKGt~L6R0SNHZdFBZVnVxdvqQIDGrKmHWm2NhqSzTTDJccirYdse8F8WYyj2H4r7TaQ0qcanOLtHpEmWmeF-5MIvZHOoaN4LQ6v7aGoDKrvj3tR1uZt-JuP1CU81Yrx8761YwZf3IoUEKELo4Zq1KA2YK7y7V~OXittIQioeIJYnf8BYsQpVMkyfQLsFtKIHDGDQdlLYopAWJjpah1DU4h70k0DsoNNU5khW8VXsqwTyAEA89nivcfxz8BKx5V14M7wBCWNjEE5S2v3yg4ZxVbSeRnHMQ__"
                    alt="">
                <div class="desc">
                    <h1>Name : Painting Competition</h1>
                    <h3><span><fa-icon [icon]="icon1"></fa-icon></span> : 03-05-2025 | <span><fa-icon
                                [icon]="icon2"></fa-icon></span> : 6:00 PM</h3>
                    <h3><span><fa-icon [icon]="icon3"></fa-icon></span> : Mumbai, India.</h3>
                    <button>Book Ticket Now</button>
                </div>
            </div>
        </div>
        <div class="event">
            <div class="div">
                <img src="https://media-hosting.imagekit.io/fea5f1e7f5784cc2/Midjourney_%20%20Vibrant,%20fragmented%20portrait%20of%20women;%20complex,%20layered%20identities_.jpeg?Expires=1840862923&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=CwB2SRY4liFRikk~CM1zbso5YU0B4l7rT2SFNdFH5cICqFA-GrSKfAy7LizuCNMZuZ8LBT6biuHbmQT~35Vglab4QPcDT63xOtgm1rRgAcahTYwc27QpX3JgYS9HmtjOfoBMS153qaZGIHjsrADBoQfA~lqX9kSMqy3jIlumd2zhe4qkZpfaCSqneQIgzCF7V91QaFWqST59w7MPCvSx9jx~m7fsRTqTtQZRhVpp4NaGGejjXIucHRZNxGkLU7moTOTQuv244bHzI2WmF4IWsbKfE6n6aAca2lFEcIAFjtFBM1z~vVFoqlUpFeHb3YXVV7mSccbSx79-iTMH5E8B1w__"
                    alt="">
                <div class="desc">
                    <h1>Name : Painting Competition</h1>
                    <h3><span><fa-icon [icon]="icon1"></fa-icon></span> : 03-05-2025 | <span><fa-icon
                                [icon]="icon2"></fa-icon></span> : 6:00 PM</h3>
                    <h3><span><fa-icon [icon]="icon3"></fa-icon></span> : Mumbai, India.</h3>
                    <button>Book Ticket Now</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-2">
    <h1>Want to plan an Event ? </h1>
    <button>Click Here!</button>
</div>