<div class="container">
    <h1 class="h1">Sponsors & Partners</h1>
    <div class="down">
        <div class="one">
            <h2>Music <span>:</span> </h2>
            <p>Spotify</p>
            <p>Red Bull</p>
            <p>MTV</p>
            <p>Bose</p>
        </div>
        <div class="one">
            <h2>Tech & Digital <span>:</span> </h2>
            <p>Google</p>
            <p>Microsoft</p>
            <p>AWS</p>
            <p>Adobe</p>
            <p>GitHub</p>
        </div>
        <div class="one">
            <h2>Buisness <span>:</span> </h2>
            <p>LinkedIn</p>
            <p>Microsoft</p>
            <p>Deloitte</p>
            <p>Salesforce</p>
        </div>
        <div class="one">
            <h2>Festivals & Celebrations <span>:</span> </h2>
            <p>PepsiCo</p>
            <p>Netflix</p>
            <p>Starbucks</p>
            <p>Instagram</p>
            <p>Canon</p>
        </div>
        <div class="one">
            <h2>Meditation & Wellness <span>:</span> </h2>
            <p>Headspace</p>
            <p>Calm</p>
            <p>Himalaya Herbal</p>
            <p>Nike Training Club</p>
        </div>
        <div class="one">
            <h2>Sports <span>:</span> </h2>
            <p>Nike</p>
            <p>Adidas   </p>
            <p>Gatorade</p>
            <p>Decathlon</p>
            <p>ESPN</p>
        </div>
    </div>
</div>

<div class="container-2">
    <h1>Want to stay update ? </h1>
    <div>
        <input type="text" placeholder="Email...">
        <button>Click Here!</button>
    </div>
</div>