.container {
    height: calc(100dvh - 50px);
    background: var(--bg);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    overflow: hidden;
    gap: 2rem;
}

.left, .right {
    width: 50%;
    background: #fff;
    height: 84%;
    border-radius: 12px;
    padding: 2rem;
}

.left .boxes, .right .boxes, .popup .boxes{
    height: 90%;
    overflow-y: scroll;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.boxes .box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 2px solid var(--main-text);
    padding: 1rem;
    border-radius: 6px;
}

.box .img {
    width: 30%;
}

.box .img img{
    width: 100%;
    height: auto;
}

button{
    font-size: 19px;
    background: var(--main-text);
    border: 2px solid var(--main-text);
    margin-top: 6px;
    padding: 2px;
    width: 50%;
    cursor: pointer;
    color: #fff;
}

button:hover{
    background: #fff;
    border-color: var(--main-text);
    color: var(--main-text);
}

.popup{
    height: 100dvh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(25px);
}

.popup .boxes{
    width: 50%;
    margin: auto;
    margin-top: 8rem;
}

.popup .boxes button{
    margin: auto;
    margin-top: 1rem;
}


@media screen and (width <= 750px) {
    .container{
        flex-direction: column;
        height: fit-content;
        overflow-y: scroll;
    }

    .container h1 span{
        display: none;
    }

    .container .left , .container .right{
        width: 95%;
        height: fit-content;
    }

    .container .left .box{
        flex-direction: column-reverse;
        gap: 10px;
    }

    .container .left .box .img{
        /* display: none; */
        width: 50%;
    }
    
    .popup .boxes{
        width: 80%;
    }
}