<app-header />
<div class="container">
    <div class="left">
        <h1>Discover Amazing Events Around You</h1>
        <p>Explore concerts, sports, festivals, and local experiences happening near you — all tailored to your location
            and interests. Never miss out on what's happening in your city.</p>
        <button>Find nearest event</button>
    </div>
    <div class="right">
        <img src="https://media-hosting.imagekit.io/ed31965de4f9477d/download%20(5).jpeg?Expires=1840857667&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=RdVvXl6RF2CJKjeVxHSjx6iKbqtsWIFE3altV6vso5ciGLmWZ4C3J05e~5JeHy93z964AfvZ6hh1pfZG5Hg6dvMKngoKW~BbhY8rOCGts3-DdxNYnkwrwpVtF8Z0OLNWhRiGpkLtPGxqzFZb18tQx20kDy8Ymrtz42ZOuqr9~v7TdmVv~Xuqg4pFf4vAGgzJsPSpJ6zwY8J3z4ofeadj~agHSfKWfq0hV4rkE-4T7bb258nBmvR6w1W7g-Ib4yJvR9qcR3pwabtwOI91A-gjhxsh8PIezwN59XvoJ~WWLoRcVBnNCJ5Dkt2TpSpQAMM85xqt8CfUbK6Wu7l5OEZmjQ__"
            alt="">
    </div>
</div>
<app-upcoming/>
<app-category/>
<app-sponsor/>
<app-footer/>